body{
    background-color: rgb(170, 170, 170);
}
header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    padding-left: 100px;
}
a{
    padding: 10px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
:left{
    float: left;
    width: 30%;
}