body{
    background-color: rgb(170, 170, 170);
    margin-right: 20px;
}
header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}
.logo{
    padding-left: 100px;
}
a{
    padding: 10px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left{
    float: left;
    width: 40%;
}
pic{
    width: 40%;
}
